# Tutorial Básico de Python

**Autor:** Cristian Andrés Zapata Arenas  
**Objetivo:** Introducir los conceptos fundamentales de Python para principiantes, con ejemplos claros y organizados.

¡Bienvenido al tutorial de operaciones básicas en Python! En esta introducción se mostrará cómo realizar cálculos sencillos como sumas, restas, multiplicaciones y divisiones, etc. Estas operaciones son el primer paso para entender cómo manipular datos y construir programas cada vez más complejos. Con una sintaxis clara y fácil de leer, Python te permite ejecutar estas operaciones de forma rápida y efectiva.

## 1. Variables y Buenas Prácticas de Nombres

In [ ]:
# Ejemplos de variables
edad = 19
nombre = "Cristian"
pi = 3.1416
es_estudiante = True

print(edad, nombre, pi, es_estudiante)

19 Cristian 3.1416 True

**Buenas prácticas:**
- Usar **snake_case**: `mi_variable = 10`
- Nombres descriptivos: `salario_mensual`, no `x1`
- No usar palabras reservadas (`for`, `if`, `while`, etc.)

In [ ]:
# Mala práctica
a = 100  

# Buena práctica
salario_mensual = 100

## 2. Tipos de Datos en Python

In [ ]:
print(type(10))       # <class 'int'>
print(type(3.14))     # <class 'float'>
print(type("Hola"))   # <class 'str'>
print(type(True))     # <class 'bool'>

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

## 3. Operaciones Básicas

In [ ]:
a = 15
b = 5

print(a + b)   # Suma
print(a - b)   # Resta
print(a * b)   # Multiplicación
print(a / b)   # División
print(a // b)  # División entera
print(a % b)   # Módulo
print(a ** b)  # Potencia

20
10
75
3.0
3
0
759375

In [ ]:
x = True
y = False

print(x and y)
print(x or y)
print(not x)

False
True
False

In [ ]:
nombre = "Python"
saludo = "Hola, " + nombre
repetir = nombre * 3

print(saludo)
print(repetir)

texto = "  hola mundo  "
print(texto.upper())
print(texto.lower())
print(texto.strip())
print(texto.replace("mundo", "Cristian"))

Hola, Python
PythonPythonPython
  HOLA MUNDO
  hola mundo
hola mundo
  hola Cristian

## 4. Estructuras de Datos

In [ ]:
# Listas
mi_lista = [1, 2, 3, 4]
mi_lista.append(5)
mi_lista.insert(2, 10)
mi_lista.remove(3)
ultimo = mi_lista.pop()

print(mi_lista)
print("Eliminado:", ultimo)

[1, 2, 10, 4]
Eliminado: 5

In [ ]:
# Tuplas
mi_tupla = (1, "Cristian", True)
print(mi_tupla[0])
print(len(mi_tupla))

1
3

In [ ]:
# Diccionarios
mi_dic = {"nombre": "Cristian", "edad": 19}
mi_dic["edad"] = 20
mi_dic["profesion"] = "Estudiante"
print(mi_dic)

for clave, valor in mi_dic.items():
    print(clave, ":", valor)

{'nombre': 'Cristian', 'edad': 20, 'profesion': 'Estudiante'}
nombre : Cristian
edad : 20
profesion : Estudiante

In [ ]:
# Sets
mi_set = {1, 2, 2, 3}
mi_set.add(4)
mi_set.discard(2)
print(mi_set)

{1, 3, 4}

## 5. Control de Flujo

In [ ]:
# Condicionales
edad = 19
if edad < 18:
    print("Menor de edad")
elif edad == 18:
    print("Tienes 18 años")
else:
    print("Mayor de edad")

Mayor de edad

In [ ]:
# Bucles
for i in range(1, 6):
    print("Número:", i)

contador = 0
while contador < 5:
    if contador == 2:
        contador += 1
        continue
    if contador == 4:
        break
    print(contador)
    contador += 1

Número: 1
Número: 2
Número: 3
Número: 4
Número: 5
0
1
3

## 6. Funciones

In [ ]:
def saludar(nombre):
    """Función que imprime un saludo personalizado"""
    print(f"Hola, {nombre}")

saludar("Cristian")

Hola, Cristian

In [ ]:
def sumar(a, b):
    return a + b

print(sumar(10, 5))

15

In [ ]:
doblar = lambda x: x * 2
print(doblar(6))

sumar = lambda x, y: x + y
print(sumar(4, 7))

12
11

## 7. Manejo de Errores

In [ ]:
try:
    num = int("hola")
except ValueError:
    print("Error: no se puede convertir texto a número")
finally:
    print("Ejecución terminada")

Error: no se puede convertir texto a número
Ejecución terminada

## 8. Módulos e Importaciones

In [ ]:
import math
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [ ]:
import math as m
print(m.factorial(5))

120

In [ ]:
from math import sqrt, pow
print(sqrt(25))
print(pow(2, 3))

5.0
8.0

## 9. Ejemplo Final Integrado

In [ ]:
import math

def area_circulo(radio):
    """Calcula el área de un círculo"""
    return math.pi * radio ** 2

radios = [1, 2, 3, 4, 5]
areas = [area_circulo(r) for r in radios]

for r, a in zip(radios, areas):
    print(f"Radio: {r}, Área: {a:.2f}")

Radio: 1, Área: 3.14
Radio: 2, Área: 12.57
Radio: 3, Área: 28.27
Radio: 4, Área: 50.27
Radio: 5, Área: 78.54